<!-- side bar for mobile phones -->

<div class="side-bar bg-windows dark:bg-dark-windows flex sm:hidden absolute h-full w-0 top-0 bottom-0 overflow-hidden" data-sidebar-target="side">
  <div class="bg-surface dark:bg-dark-surface p-4 w-desktop">
    <div class="flex justify-between m-2">
      <div class="flex">
        <div class="w-12 h-12">
          <%= image_tag current_user.last_profile, class: "w-full h-full rounded-full" %>
        </div>
        <div class="ml-3">
          <h3 class="text-txtPrimary dark:text-dark-txtPrimary font-semibold inline"><%= current_user %></h3>
          <div class="text-link dark:text-link">
            <span>online</span>
            <span class="bx bxs-circle text-dark-primary hover:bg-dark-onSurface"></span>
          </div>
        </div>
      </div>
      <div class="text-right sm:flex bg-dark" data-controller="theme">
        <input type="checkbox" name="theme" id="sideTheme" class="hidden theme" data-theme-target="themeBox" data-action="change->theme#toggle">
        <label for="sideTheme" class="flex items-center p-1 w-12 h-6 dark:bg-dark-onSurface bg-onSurface justify-between rounded-xl">
          <i class="bx bxs-moon text-gray-300"></i>
          <i class="bx bxs-sun dark:text-dark-txtPrimary"></i>
          <span class="trasition duration-500 bg-primary dark:bg-dark-primary w-5 h-5 rounded-full absolute"></span>
        </label>
      </div>
    </div>

    <div class="flex-col">
      <a href="" class="bx bx-sm bx-message">Feedback</a>
      <a href="" class="block bx bx-bookmark bx-sm text-txtSecondary dark:text-dark-txtSecondary">Saved Posts</a>
    </div>
  </div>

  <div class="bg-transparent-30 flex-1" data-action="click->sidebar#toggle"></div>
</div>
