<%= content_for :title_section do %>
  <title>New Chat</title>
<% end %>

<div class="flex justify-start items-center bg-surface dark:bg-dark-surface sm:hidden shadow sticky top-0">
  <span class="my-1 sm:mx-4 mx-2 text-2xl font-medium rounded-full text-blue-400 hover:bg-onSurface dark:hover:bg-dark-onSurface hover:text-blue-300 float-right">
    <i class="bx bx-arrow-back m-2 h-6 w-6" data-controller="application" data-action="click->application#redirectBack"></i>
  </span>
  <h2 class="mb-0 font-bold text-txtPrimary dark:text-dark-txtPrimary">New Chat</h2>
</div>

<%= turbo_frame_tag "chats_section" do %>
  <div class="p-3 mx:p-4 mt-1 mx-1 bg-surface dark:bg-dark-surface h-full" data-controller="chat--new">
    <%= render "form", chat: @chat %>
  </div>
<% end %>
